<div class="tab-pane" id="charts" role="tabpanel">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-chart-bar"></i> Comparison Overview
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <canvas id="guage-chart" width="200" height="200"></canvas>
                </div>
                <div class="col-6">
                    <canvas id="best-match-chart" width="200" height="200"></canvas>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
