<div class="tab-pane" id="properties" role="tabpanel">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-eye"></i> Document Properties
        </div>
        <div class="card-body">
            <table class="display compact" id="theproperties"
                style="width:100%; table-layout: fixed; word-wrap:break-word;">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
