<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="../resources/dist/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../resources/dist/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../resources/dist/angularjs/angular-sanitize.min.js"></script>
</head>

<body ng-app="legalITApp" class="application-page">
<script>
    var app = angular.module("legalITApp", ['ngSanitize']);

    angular.element(function () {
        setTimeout(() => {
        }, 200)
    });

    app.controller("legalITCtrl", function($scope, $http) {
        $scope.domain = 'page';

        // Get the page parameter
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        //$http.get('http://127.0.0.1:5000/api/v1.0/tokens/NNP').
        $http.get('http://127.0.0.1:5000/api/v1.0/entities/j4gwzbzl.pdf/LOC').
        then(function(response) {
            $scope.items = response.data;
        }).catch(function(err) {
            $scope.selectedPage = {};
            $scope.selectedPage.title = 'Well that is embarrasing';
            $scope.selectedPage.summary = "It looks like we couldn't find a page about: " + $scope.item;
            console.log(err);
        });

        $scope.getFile = function()
        {
           let url = 'http://127.0.0.1:5000/api/v1.0/download/j4gwzbzl.pdf'
           window.open(url, '_self')
        };


    });
</script>

<div ng-controller="legalITCtrl">

    <ul style="width: 100%">
        <li ng-repeat="item in items">
            <h3 ng-bind-html="item.ent"></h3>
            <h4 ng-bind-html="item.kind"></h4>
        </li>
    </ul>

    <button ng-click="getFile()" ng-init="count=0">Download</button>    

</div>
</body>

</html>